/* ==== BOTÕES DE NAVEGAÇÃO === */
@charset  "UTF-8";

/* navegação superior */
  .topnav {
    overflow: hidden;          
    background-color: #000000;  
    position: sticky; top: 0; /*fixar menu no topo*/
  }
  .topnav a {
    float: right;          
    display: block;    
    padding: 3px 10px;   
    margin: 10px;
    color: gold;   
    font-size: 1.1em;
    text-align: center;   
    text-decoration: none;   
    background-color: #000000;
    border-style: outset;
    border-color: gold;
    border-radius: 20px;   
  } 
  .topnav a:hover {
    background-color: #000000;  
    color: aqua;   
    border-color: aqua;        
  }
  .topnav a:active {
  color: burlywood;
  border-color:goldenrod;    
  }
/* navegação lateral */
.rightnav {
    overflow: hidden;         
    background-color: #f1f1f1;  
  }
  .rightnav a {
    float: center;          
    display: block;      
    color: midnightblue;    
    font-weight: 600;
    text-align: center;   
    padding: 6px 8px;    
    text-decoration: none;   
    background-color: powderblue;
    margin: 5px;
    border-style: outset;
    border-color: floralwhite;
    border-radius: 30px;
  }
  .rightnav a:hover {
    background-color: aqua;   
    color: black;            
  }
  .rightnav a:active {
  color: blueviolet;
  }

/* navegação paginal */
  .leftnav {
    overflow: hidden;          
    background-color: white;  
  }
  .leftnav a {
    float: left;          
    display: block;    
    color: midnightblue;   
    font-weight: 600;
    text-align: center;   
    padding: 6px 8px;   
    text-decoration: none;   
    background-color: powderblue;
    margin: 5px;
    border-radius: 5px;
  } 
  .leftnav a:hover {
    background-color: aqua;  
    color: black;           
  }
  .leftnav a:active {
  color: blueviolet;
  }
