/* Estilo do site kau */
@charset "UFT-8";
@import url('https://fonts.googleapis.com/css2? family = Bebas + Neue & display = swap');

/* HTML → id ---- CSS = #
   HTML → class ---- CSS = .
   > filho
   : pseudo classe
   :: pseudo elemento
   Dentro de um documento HTML só pode ocorrer um ID.
*/

/* Raiz do documento */
:root {
    --cor0: #C5EBD6;
    --cor1: #83E1AD;
    --cor2: #3DDC84;
    --cor3: #2FA866;
    --cor4: #063D1E;
    --cor5: #fff;
    --cor6: #000;
    --fonte0: Arial, Helvetica, sans-serif;
    --fonte1: 'Bebas Neue', cursive;
    --fonte2: 'Android', sans-serif;
}


/* Body - corpo da página */
body {
    font-family: var(--fonte0)
    background-color: var(--cor5);
    margin: auto;

}


/* header - Cabeçalho da página */
header {
    background-color: black;
    color: wheat;
    padding: 10px;
    margin: 0px;
    text-align: center;
}


main {
    background-color: gainsboro;
    display: inline-flex;
}


/* aside - Conteúdo relacionado */
aside {
    background-color: violet;
    padding: 10px;
    margin: 3px;
    width: 25%;
}


/* section - conteúdo principal */
/* header - article - footer */
section{ 
    background-color: gainsboro;
    padding: 2px;
    margin: 3px; 
    width: 60%;
    
}

section > header{
    background-color: rgb(14, 48, 14);
    padding: 5px;
    margin: 0px;
    text-align: center;
    color: aliceblue;
}

section > article{
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 5%;
}

section > footer{
    background-color: rgb(87, 19, 61);
    color: wheat;
    text-align: center;
    padding: 1px;
    margin: 0px;
}


/* nav - navegação lateral */
nav{
    background-color: orange;
    padding: 10px;
    margin: 3px;
    width: 15%;
}

nav > a {
    text-decoration: none;
    color: blue;
    /*font-weight: bold;*/
    margin-right: 10px;
}
nav > a:hover {
    text-decoration: underline;
}


/* footer - rodapé da página */
footer {
    background-color: black;
    color: wheat;
    text-align: center;
    padding: 5px;
    margin: 0px;
}


.espaco {
    margin-top: 50px;
    border-radius: 25%;
}

.depois {
    margin-bottom: 50px;
    border-radius: 25%;
}

.fimfoo {
    margin-bottom: 0px;
    border-radius: 25%;
}

.semespaco {
    margin-top: 0px;
    border-radius: 25%;
}

/* efeito de cartĆ£o para artigos */
.card {
    background-color: white;   
    padding: 20px;              
    margin-top: 20px;      
    border-radius: 5%;    
  }


/* imagem falsa */
.fakeimg {
    background-color: #aaa;             
    padding: 20px;  
    border-radius: 25%;          
  }

  .img {
    margin: 20px;
    padding: 20px;
    float: right;
    border-radius: 10%;
  }

  h1 {
      font-family: var(--fonte1);
  }

  .nave { /*classe nave*/
    margin: 20px; 
    padding: 20px; 
    background-color:aquamarine; 
    font: oblique normal 1.3em Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    border-radius: 10%;
    margin-top: 3em;
}