@charset "UFT-8";

/* ------ CONFIGURAÇÕES GERAIS EM PRIMEIRO ------ */
body{
    background-color: #d6fde9;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: #1e402f;
}
h2{
    color: #3c805e;
}
p{
    color: #172417;
}

/* ------ CONFIGURAÇÕES DE ID E CLASSES ------ */ 

/* ID - principal */
#principal{
    text-align: center;
    color: #ffffff;
    background-color: #3c805e;
}

/* Classes */
.basico{
    color: #3c805e;
}
.intermediario{
    color: #80793c;
}
.avancado{
    color: #803c3c;
}
.destaque{
    background-color: yellow;
}


/* HTML → id ---- CSS = #
   HTML → class ---- CSS = .
   Dentro de um documento HTML só pode ocorrer um ID.
*/